/*fonts n imports*/

@font-face {font-family: 'PixelOperator';src: url(Assets/Fonts/pixel_operator/PixelOperator.ttf) format("truetype");}
@font-face {font-family: 'PixelifySans';src: url(Assets/Fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");}
@font-face {font-family: 'SixtyFour';src: url(Assets/Fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf) format("truetype");}
@font-face {font-family: 'PixelOperatorHBSC';src: url(Assets/Fonts/pixel_operator/PixelOperatorHBSC.ttf) format("truetype");}

/*Main Vibe*/
:root{
    --bg-color:#222034; /*Dark bg for main page, dark boxes*/
    --div--color:#2e171e;
    --innerbox-color:#ffffff; /*color for content boxes, set to white for now.*/
    
    /*Text*/
    --title-color: #CF595A;
    --light-text: #ffffff;
    --link-color: #6191a9;
    --link--visited: #6C62A9;
    --link--hover: #CF629B;
    --text--footer: #e5da61;
    --text-footer-2: #8f62a9;
    --text-color-2: #cf9d5a;
    --text-color-3: #449081;
    --tritone-1: #252966;
    --tritone-2: #57d3d6;
    /*fonts*/
    --primary-font: 'PixelOperator', monospace;
    --secondary-font:'PixelifySans', monospace;
    --tertiary-font: 'SixtyFour', monospace;
    --fourth--font: 'PixelOperatorHBSC', monospace;

    /*Misc
    --bg-img: url("");
    --main-cursor: url("");*/

}

body{
    color: var(--light-text);
    background: var(--bg-img) no-repeat fixed;
    background-color: var(--bg-color);
    background-size: cover;
    font-family: var(--primary-font);
    margin: 0px;
    /*cursor: url('D:\Coding Projects\Rainbow Parade\The-Rainbow-Web\Assets\UI-UX\cursor.png'), auto;*/
}

p{
    
    font-size: 20px; margin: 8px 0px; line-height: 16px;
}

a{
    color: var(--link-color);
    font-family: var(--secondary-font);
}

a:visited{color:var(--link--visited)}
a:Hover{color: var(--link--hover);}

b{
    font-family: var(--secondary-font);
    font-size: 25px;
}

h1{
    Font-family: var(--primary-font);
    color: var(--title-color);
    margin: 10px 5px;
    font-weight: 100;
    padding: 5px; 
}
h2{
    Font-family: var(--tertiary-font);
    color: var(--light-text);
    margin: 10px 5px;
    font-weight: 100;
    padding: 5px; 
}

/*Home styling*/

.pixelboard{
    display: flex;
    justify-content: center;
    border: 2px dotted var(--text-footer-2);
    padding: 2px 0px;
    }

.pixelboard p{
    font-weight: 100;
    font-size: 25px;
}

.linktreetxt{
    display: flex;
    justify-content: center;
}



/* Home Rightbar styling*/

.headabout{
    border: 2px dotted var(--innerbox-color);
    background-image: repeating-linear-gradient(to right, var(--tritone-1), var(--tritone-2), var(--innerbox-color), var(--tritone-2), var(--tritone-1));
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip:text;
    
}

/*Home Text coloring*/
.aboutcolor{
    padding: 2px 0px;
}


.aboutblue {
    color: #252966;
    font-weight: 900;
    text-shadow:
    -1px -1px 0 #96d8da,  
    1px -1px 0 #96d8da,
    -1px 1px 0 #96d8da,
    1px 1px 0 #96d8da;}

.aboutcyan{color: #57d3d6;}
.aboutwhite{text-shadow: none!important;}

txtabout{
    word-wrap: break-word;
}

.shitwemake{
    border: 2px dotted var(--link-color);
    background-image: repeating-linear-gradient(
        to right,
        var(--title-color),
        var(--text-color-2),
        var(--text--footer),
        var(--text-color-3),
        var(--link-color),
        var(--text-footer-2)
    );
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}


 /*Sitemap Styling*/


.justify{    align-items: flex-start; display: flex; margin: 0 auto; width: 100%;
    background: linear-gradient(var(--bg-color), #5b95e1);

}
justifyleft{width: 50%;}
.justifyright {text-align: right; width: 50%;}

.directorytxt{font-size: 24px; font-family: 'PixelifySans'; text-decoration: underline;}
.navlist {text-align: left;}
.navlist ul {display: inline-block; text-align: left;}
.navlist p{font-weight: 600; white-space: nowrap;}
.navlist a {color: var(--tritone-2); font-size: 18px; font-weight: 600;}
.navlist img{text-align: left;}
.listtitle a {color: var(--text--footer); font-size: 20px; font-weight: 800;}

/* Creations Stuff we made text*/
.stuffmade{
    display: flex;
    justify-content: center;
    padding: 2px auto;
    margin: 10px auto 0 auto;
    width: 100%;
}
.stuffmade p{font-family: var(--tertiary-font); font-size: 25px; text-align: center;}

.pfpcontainer{
    display: flex;
    align-items: center;
    text-align: center;
    width: 768px;
    margin: auto;
}

.pfpbox img{
    text-align: center;
    width:100%;
    max-height: 256px;
    object-fit: contain;
}

.artscontainer{
    display: flex;
    align-items: center;
    text-align: center;
    width: 768px;
    margin: auto;
}
.artscontainer img{
    text-align: center;
    width:100%;
    height: 256px;
    object-fit: contain;
    margin: 0 10px;
}
.artscontainer p{font-size: 22px;}

.craftscontainer{
    display: flex;
    align-items: center;
    text-align: center;
    width: 768px;
    margin: auto;
}

.craftscontainer img{
    text-align: center;
    width:160px;
    height: 256px;
    object-fit: contain;
    margin: 0 20px;
    align-items: center;
}
.craftscontainer p{font-size: 22px;}


/*Header*/

.topmenu{
    background: #2e171e;
    box-shadow: 0px 5px var(--link--hover), 0px -5px var(--link-color);
    justify-content: center;
    align-items: center;
    margin: 12px 0px 0px;
    text-align: center;
    padding: 5px 0px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.topmenu a{
    color: inherit;
    font-family: var(--tertiary-font);
    text-decoration: none;
    text-shadow: 1px 1px var(--link-color);
    padding: 10px 10px;
    margin: 0px;
    font-size: 13px;
    border-right: 1px solid #CF629B;


    background:
    repeating-linear-gradient(
        to right,
        var(--title-color),
        var(--text-color-2),
        var(--text--footer),
        var(--text-color-3),
        var(--link-color),
        var(--text-footer-2)
    );

    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.topmenu a:hover{
    background-size: 100% 3px, 0 3px;
    background:
    linear-gradient(
        to right,
        var(--title-color),
        var(--text-color-2),
        var(--text--footer),
        var(--text-color-3),
        var(--link-color),
        var(--text-footer-2)
    );
    transition: background-size 400ms;
}

.topmenu a:not(:last-child)::after{
    border-right: 0px;
}

/*footer*/

footer{
    background-color: #2e171e;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 5px var(--link--hover), 0px -5px var(--link-color);
}

footer a{
    font-family: var(--tertiary-font);
    text-decoration: none;
    text-shadow: 1px 1px var(--link-color);
    padding: 10px 10px;
    margin: 0px;
    font-size: 13px;
}

footer p{
    color: var(--text-footer-2);
    padding: 5px;
    margin: 4px;
}

#footer img { image-rendering: pixelated;}

.button{
    text-align: center;
}
.blinkie{
    text-align: center;
}

.button img { image-rendering: pixelated;}
.blinkie img { image-rendering: pixelated;}

/*Main content boxes and Layout*/

.barboxes{
    align-items: flex-start;
    display: flex;
    margin: auto;
    width: 100%;
}

.contentbox{
    padding: 10px;
    margin: 0px 10px 0px 10px;
    
    background:
    linear-gradient(var(--div--color), var(--div--color)),
    linear-gradient(
        to right,
        var(--title-color),
        var(--text-color-2),
        var(--text--footer),
        var(--text-color-3),
        var(--link-color),
        var(--text-footer-2),
        var(--link--hover)
    );
    
    border: double 10px transparent;
    border-radius: 30px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    
}

.solobar-content /*Use this for fics and other solo content bar thingies so they appear expanded on mobile*/ {
    background:
    linear-gradient(var(--div--color), var(--div--color)),
    linear-gradient(
        to right,
        var(--title-color),
        var(--text-color-2),
        var(--text--footer),
        var(--text-color-3),
        var(--link-color),
        var(--text-footer-2),
        var(--link--hover)
    );
    
    border: double 10px transparent;
    border-radius: 15px;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 15px 10px 15px 10px;
    margin: 0px 8px 0px 8px;
  }

.innerbox{
    background-color: #2e171e;
    box-shadow: 1px solid #CF595A;
    border: 2px dashed #CF629B;
    text-align: center;
    overflow: auto;
    margin:15px 5px;
    padding: 15px;
    height: 100%;
}

.soloinnerbox /*USE TOGETHER WITH SOLOBAR-CONTENT*/ {
    background-color: #2e171e;
    border: 2px dotted var(--link--hover);
    text-align: center;
    margin: 10px 3px;
    overflow: auto;
    padding: 10px;  
  }


  
.solo-sidebar { margin: 25px auto; width: 50%; min-width: 900px;}
#centerbar{width: 50%;}
#leftbar{width: 25%; margin-left: 40px;}
#rightbar{width: 25%; margin-right: 40px;}

/*Images and Gifs*/
.dividergif {
    border-radius: 5px;
    height: 25px;
    width: 100%;
  }

* { scrollbar-width: thin; 
    scrollbar-color: #ac3232 var(--bg-color);}
*::-webkit-scrollbar { width: 15px; }
*::-webkit-scrollbar-track { background: var(--bg-color); border: 2px solid var(--light-text); border-radius: 4px; }
*::-webkit-scrollbar-thumb { 
    border: 2px solid var(--bg-color); 
    background: 
    linear-gradient(
        45deg, 
        #ac3232,
        #df5026,
        #fbf236,
        #6abe30,
        #5b95e1,
        #695be1,
        #cd41ab);
    border-radius: 5px;
}


/*Rules*/

  @media only screen and (max-width:1115px){

    #leftbar { margin-left: auto; width: 27%; }
    #centerbar { width: 75%;}
    #rightbar { margin-right: auto; width: 27%; }
    .solo-sidebar { width: 80%; min-width: 665px; }
    .solobar-content { width: 100%; padding: 0px; margin: 0px; }
    .soloinnerbox { padding: 20px 15px; }

    .justify{background: linear-gradient(var(--bg-color), #5b95e1, var(--link-color))}
    .justifyleft{ text-align: center; width: 100%; height: 100%;}
    .justifyright {width: 0;}
    .justifyright img { width: 0%}
    .navlist {text-align: center;}
    
    .pfpcontainer, .artscontainer, .craftscontainer{display: flex; align-items: center;margin: auto; max-width: fit-content;}
    .pfpcontainer img{image-rendering: pixelated;}
    
  }

  @media only screen and (max-width:700px){
    .barboxes{display: block;}
    #leftbar {width: 100%; margin: 5px 0px;}
    #centerbar{width: 100%; margin: 5px 0px;}
    #rightbar{width: 100%; margin: 5px 0px;}
    .solo-sidebar{width: 100%; min-width: auto;}
    .topmenu a { margin: 5px 5px;}

    .justifyleft{ text-align: center; width: 100%; height: 100%;}
    .justifyright img{ width: 0%}
    .navlist {text-align: center;}

    .pfpcontainer, .artscontainer, .craftscontainer{display: flex; flex-direction: column; align-items: center;margin: auto; max-width: fit-content; }
    .craftscontainer img{width:100%;}
  }