<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Solo Template - The Rainbow Zone"> 
        <meta property="og:description" content="Templates for further use"> 
        <meta property="og:image" content="https://jaytheadventurer.github.io/The-Rainbow-Zone/Assets/rainbow button 256.gif"> 
        <meta property="og:url" content="therainbowzone.com"> 
        <meta property="og:type" content="website"> 
        <title>Solo Template - ⋒★The Rainbow Zone★⋒</title>
        <link href="https://jaytheadventurer.github.io/The-Rainbow-Zone/style.css" rel="stylesheet" type="text/css" media="all">
        <link rel="icon" type="gif" href="https://jaytheadventurer.github.io/The-Rainbow-Zone/Assets/Rainbow/rainbow sona nobg.gif">
    </head>

    <!--Header Starts-->
    <div id="headerlinks">
            <script src="https://jaytheadventurer.github.io/The-Rainbow-Zone/links.js"></script>
            <noscript>
                <p style="text-align: center;">This main menu uses JS to display the navigation on all pages, so it is easy to update. 
                   Use the <a href="https://jaytheadventurer.github.io/The-Rainbow-Zone/Pages/sitemap.html">sitemap</a> to navigate if you have JS disabled.</p>
              </noscript>
        </div>

    <div id="footerlink_button">
        <script src="https://jaytheadventurer.github.io/The-Rainbow-Zone/links.js"></script>
        <noscript>
            <p style="text-align: center;"><a href="#headerlinks">back to top</a><br>This bottom menu uses JS to display the navigation on all pages, so it is easy to update. 
               Use the <a href="https://jaytheadventurer.github.io/The-Rainbow-Zone/Pages/sitemap.html">sitemap</a> to navigate if you have JS disabled,<br> and the <a href="">links</a> page if you are interested in buttons.</p>
          </noscript>
      </div>

</html>