<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <base href="https://jaytheadventurer.github.io/The-Rainbow-Zone/">

        <meta property="og:title" content="Wide Template - The Rainbow Zone"> 
        <meta property="og:description" content="Templates for further use"> 
        <meta property="og:image" content="Assets/rainbow button 256.gif"> 
        <meta property="og:url" content="therainbowzone.com"> 
        <meta property="og:type" content="website"> 
        <title>Wide Template - ⋒★The Rainbow Zone★⋒</title>
        <link href="style.css" rel="stylesheet" type="text/css" media="all">
        <link rel="icon" type="gif" href="Assets/Rainbow/rainbow sona nobg.gif">
    </head>

    <body>
        <!--Header Starts-->
        <div id="headerlinks">
            <script src="links.js"></script>
            <noscript>
                <p style="text-align: center;">This main menu uses JS to display the navigation on all pages, so it is easy to update. 
                   Use the <a href="Pages/sitemap.html">sitemap</a> to navigate if you have JS disabled.</p>
              </noscript>
        </div>
        <!--Header Ends-->

        <div class="barboxes"><!--Barboxes Starts-->

            <div id="leftbar"><!--Leftbar starts here-->
                <div class="contentbox"><!--Content Box starts-->
    
                    <div class="innerbox"> <!--box 1 begins-->
                        <div>
                            <h2>Box 1L</h2>
                            <p>text goes here!</p>
                        </div>                               
                    </div>
                    <!--box 1 ends-->
                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">
                    
                    <div class="innerbox"><!--box 2 begins-->
                            <div>
                                <h2>Box 2L</h2>
                                <p>text goes here!</p>
                            </div>
                    </div>
                    <!--box 2 ends-->

                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">
    
                </div><!--Content Box ends-->
                
            </div> <!--Leftbar Ends-->
    
            
            <div id="centerbar">
                <!--Content Box starts here-->
                <div class="contentbox">
                    
                    <div class="innerbox"> <!--box 1 begins-->
                            <div>
                                <h2>Box 1C</h2>
                                <p>text goes here!</p>
                            </div>                               
                    </div>
                    <!--box 1 ends-->
                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">
                    
                    <div class="innerbox"><!--box 2 begins-->
                            <div>
                                <h2>Box 2C</h2>
                                <p>text goes here!</p>
                            </div>
                    </div>
                    <!--box 2 ends-->
    
                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">
    
                    <div class="innerbox"><!--box 3 begins-->
                        <div>
                            <h2>Box 3C</h2>
                            <p>text goes here!</p>
                        </div>
                        
                        
                    </div>
                    <!--box 3 ends-->
                </div>
                <!--Content Box ends-->
            </div>
            <!--Center Bar ends-->
    
            <!--Right Bar starts-->
            <div id="rightbar">
    
                <!--Right Box starts-->
                    <div class="contentbox">
    
                        <div class="innerbox"> <!--box 1 begins-->
                            <div>
                                <h2>Box 1R</h2>
                                <p>text goes here!</p>
                            </div>                               
                    </div>
                    <!--box 1 ends-->
                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">
                    
                    <div class="innerbox"><!--box 2 begins-->
                            <div>
                                <h2>Box 2R</h2>
                                <p>text goes here!</p>
                            </div>
                    </div>
                    <!--box 2 ends-->
                     
                    <img class="dividergif" src="Assets/Rainbow/rainbow divider border h25.gif" alt="gif divider 1">

                </div> <!--Content Box ends-->
                
            </div>
            <!--Right Bar ends-->
    
        </div><!--Barboxes Ends-->

        <div id="footerlink_button">
            <script src="links.js"></script>
            <noscript>
                <p style="text-align: center;"><a href="#headerlinks">back to top</a><br>This bottom menu uses JS to display the navigation on all pages, so it is easy to update. 
                   Use the <a href="Pages/sitemap.html">sitemap</a> to navigate if you have JS disabled,<br> and the <a href="">links</a> page if you are interested in buttons.</p>
              </noscript>
          </div>
    </body>
</html>